		<!-- TOP BAR -->
		<div class="top-bar">
			<div class="container">
				<div class="row">
					<!-- logo -->
					<div class="col-md-2 logo">
						<a href="/">
							<img src="/assets/img/kingadmin-logo-white.png" alt="KingAdmin - Admin Dashboard" />
						</a>
						<h1 class="sr-only">KingAdmin Admin Dashboard</h1>
					</div>
					<!-- end logo -->
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-3">
							</div>
							<div class="col-md-9">
								<div class="top-bar-right">
								{{if .auth}}
								<!-- logged user and the menu -->
									<div class="logged-user">
										<div class="btn-group">
											<a href="/user" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
												<img src="/assets/img/user-avatar.png" alt="User Avatar" />
												<span class="name">{{.auth.Username}}</span>
												<span class="caret"></span>
											</a>
											<ul class="dropdown-menu" role="menu">
												<li>
													<a href="/user/profile">
														<i class="fa fa-user"></i>
														<span class="text">Profile</span>
													</a>
												</li>
												{{if .auth.IsAdmin}}
												<li>
													<a href="/admin/">
														<i class="fa fa-cog"></i>
														<span class="text">Dashboard</span>
													</a>
												</li>
												{{end}}
												<li>
													<a href="/logout">
														<i class="fa fa-power-off"></i>
														<span class="text">Logout</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<!-- end logged user and the menu -->
								{{end}}
								</div>
								<!-- /top-bar-right -->
							</div>
						</div>
						<!-- /row -->
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top -->
